$my-padding:8%;


.grids {
	list-style: none;
	margin: 0 0 0 -1%;
	// max-width: 960px;
	width: 102%;
	
}

div[class*="grid-"] {
	display: inline-block;
	float:left;
	margin:20px 1%;
	padding: 0px;
	// text-align: center;
	// background-color: darken($bg, 20%);
	// border-radius: 4px;
	// border:0px solid darken($bg, 40%);
	// color: lighten($bg, 60%);

}

.grid-1{
	width:6.333%;
}
.grid-3{
	width:23%;
}
.grid-4{
	width:31.333%;
}
.grid-one-third{
	width:31.333%;
}
.grid-two-thirds{
	width:64.666%;
}
.grid-half, .grid-6{
	width:48%;
}
.grid-12{
	width:98%;
}

.resp-img{
	width:100%;
	// height:100%;
}