<nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Highland Web Group</a>
    </div>
  </div>
</nav>
<div id="main" role="main" class="container">
  {{ outlet }}
</div>
